@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}

header {
    height: 60px;
    z-index: 2;
    /* border-bottom: solid #bfd3d6 5px; */
}

.glow-text {
    color: #f3fff1;
    text-shadow: rgb(7, 244, 15) 0px 0px 7px;
}

.nav {
    list-style-type: none;
}

.nav-anchor {
    height: 60px;
}

.nav-item {
    padding: 0px 18px 0x;
    display: inline;
    vertical-align: middle;
    min-height: 32px;
    /* margin:1rem; */
}

.nav-item:hover {
    box-shadow: #07F40F 0px 0px 7px;
    color: #1c1c35;
    clip-path: polygon(0 0, 0 60%, 10% 100%, 100% 100%, 100% 40%, 90% 0);
    min-height: 32px;
}

.nav-item:active {
    box-shadow: rgb(7, 244, 15) 0px 0px 7px;
    color: #1c1c35;
    clip-path: polygon(0 0, 0 60%, 10% 100%, 100% 100%, 100% 40%, 90% 0);
    min-height: 32px;
}

.page-title {
    font-size: x-large;
    color: #fffdf1;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.project-card {
    overflow: hidden;
    clip-path: polygon(0 0, 0 90%, 10% 100%, 100% 100%, 100% 10%, 90% 0);
    background-color:#01012b;
    filter: brightness(65%);
}

.project-card:hover {
    filter: brightness(100%);
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255);
}

.button-link {
    background-color: #01012b;
    height: 2rem;
    width: 5rem;
    margin: 5px 5px 5px;
    color: #f3fff1;
    text-shadow: rgb(7, 244, 15) 0px 0px 7px;
    clip-path: polygon(0 0, 0 80%, 10% 100%, 100% 100%, 100% 20%, 90% 0);
    box-shadow: rgb(7, 244, 15) 0px 0px 7px;
}

.button-submit {
    background-color: #01012b;
    height: 2rem;
    width: 10rem;
    margin: 5px 5px 5px;
    color: #f3fff1;
    text-shadow: rgb(7, 244, 15) 0px 0px 7px;
    clip-path: polygon(0 0, 0 60%, 10% 100%, 100% 100%, 100% 40%, 90% 0);
    box-shadow: rgb(7, 244, 15) 0px 0px 7px;
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #01012b;
    border-top: solid #bfd3d6 5px;
    padding: 1.2em;
    width: 100%;
    position: fixed;
    bottom: 0;
}
