@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}

header {
    height: 60px;
    z-index: 2;
    /* border-bottom: solid #bfd3d6 5px; */
}

.glow-text {
    color: #f3fff1;
    text-shadow: rgb(7, 244, 15) 0px 0px 7px;
}

/* .content {
    height: 100vh;
} */

.nav {
    list-style-type: none;
    /* padding: 5rem; */
    /* padding: .5rem; */
}

.nav-anchor {
    height: 60px;
}

.nav-item {
    padding: 0px 18px 0x;
    display: inline;
}

.nav-item:hover {
    box-shadow: #07F40F 0px 0px 7px;
    color: #1c1c35;
    border-radius: 1rem;
}
.nav-item:active {
    box-shadow: rgb(7, 244, 15) 0px 0px 7px;
    color: #1c1c35;
    border-radius: 1rem;
}

.button-link {
    background-color: #fffdf1;
    height: 25px;
    width: 75px;
    margin: 5px 5px 5px;
    color: #1c1c35;
    border-radius: 1rem;
    box-shadow: rgb(7, 244, 15) 0px 0px 7px;

}

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #222223;
    border-top: solid #bfd3d6 5px;
    padding: 1.2em;
    width: 100%;
    position: fixed;
    bottom: 0;
}
