header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 50px; */
    background-color: #3b3b4f;
    height: 200px;
    z-index: 2;
    border-bottom: solid #bfd3d6 5px;
}

.nav {
    list-style-type: none;
    padding: .5rem;
}

.nav-item {
    display: inline;
    padding: 1rem;
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #3b3b4f;
    margin: 1em;
    padding: 1.2em;
}
